.nft-img {
    width: 180px;
    vertical-align: middle;
}

.card-padding {
    padding: 1rem;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.15);
}

.container-flex {
    display: flex;
}

.inner2 {
    flex-grow: 2;
}

p {
    color: #9698a6;
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

.project-description {
    margin-bottom: 2.1rem;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}